### Series的对其运算

#### 1. Series 按行、索引对齐

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series(range(10,20), index = range(10))
s2 = pd.Series(range(20,25), index=range(5))

print("s1: \n", s1)
print("s2: \n", s2)

s1:
 0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
s2:
 0    20
1    21
2    22
3    23
4    24
dtype: int64

#### 2. Series 的对齐运算

In [3]:
print(s1 + s2)

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

### DataFrame 的对其运算

#### 1. DataFrame 按行、按列索引对齐

In [4]:
import numpy as np

In [6]:
df1 = pd.DataFrame(np.ones((2,2)), columns=['a', 'b'])
df2 = pd.DataFrame(np.ones((3,3)), columns=['a','b','c'])

print("df1: \n", df1)
print("df2: \n", df2)

df1:
      a    b
0  1.0  1.0
1  1.0  1.0
df2:
      a    b    c
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

#### 2. DataFrame 的对齐运算

In [7]:
df1 + df2

     a    b   c
0  2.0  2.0 NaN
1  2.0  2.0 NaN
2  NaN  NaN NaN

### 填充未对齐的数据运算

#### 1. fill_value

In [8]:
# 使用add, sub, div, mul 的同时
# 通过fill_value指定填充值，未对齐的数据和填充值做运算

In [22]:
print(s1)
print(s2)
s1.add(s2, fill_value=-1)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0    20
1    21
2    22
3    23
4    24
dtype: int64

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    14.0
6    15.0
7    16.0
8    17.0
9    18.0
dtype: float64

In [20]:
print(df1)
print(df2)
df1.sub(df2, fill_value=0.)

     a    b
0  1.0  1.0
1  1.0  1.0
     a    b    c
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

     a    b    c
0  0.0  0.0 -1.0
1  0.0  0.0 -1.0
2 -1.0 -1.0 -1.0